    <div class="conversation">

        <div class="conversation__header">
            <div class="conversation__header-user">
            <div class="conversation__header-avatar"></div>
            <p>{{activeChat.chatName}}</p>
            </div>
            <img class="conversation__header-dots link-opacity" src="/static/dots.svg" alt="dots"/>
        </div>

        <div class="conversation__content">

            <div class="conversation__my-message">
                <div class="conversation__my-message-content link-opacity">
                    <p class="conversation__my-message-text">Привет</p>
                    <img class="conversation__my-message-read-icon" src="/static/read-icon.svg" alt="Прочитано"/>
                    <p class="conversation__my-message-time">12:00</p>
                </div>
            </div>

            <div class="conversation__not-my-message link-opacity">
                <div class="conversation__my-message-content">
                    <p class="conversation__my-message-text">Здоров</p>
                    <p class="conversation__not-my-message-time">12:01</p>
                </div>
            </div>

            <div class="conversation__my-message link-opacity">
                <div class="conversation__my-message-content">
                    <p class="conversation__my-message-text">Как дела?</p>
                    <img class="conversation__my-message-read-icon" src="/static/read-icon.svg" alt="Прочитано"/>
                    <p class="conversation__my-message-time">12:03</p>
                </div>
            </div>
        </div>

        <div class="conversation__footer">
            <img class="conversation__footer-paper-clip link-opacity" src="/static/paper-clip.svg" alt="add file"/>
            {{{ InputField  type="text" name="message" env="chat" ref="message" placeholder="Сообщение" validate=validate.message}}}
            <img class="conversation__footer-send-icon link-opacity" src="/static/send-arrow.svg" alt="send message"/>
        </div>
    </div>
