.auth-input__element {
    border: none;
    border-bottom: 1px solid var(--main-color);
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    padding: 0 0 7px;
}

.auth-input__element:focus-visible {
    outline: none;
}

.profile-input__element {
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 13px;
    font-weight: 500;
    padding: 0 0 10px;
    text-align: right;
    color: var(--text-color);
}

.profile-input__element:disabled {
    background: none;
}

.profile-input__element:focus-visible {
    outline: none;
}

.chat-input__element {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color);
    height: 32px;
    border-radius: 30px;
    border: none;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: 500;
    padding-left: 20px;
}

.chat-input__element:focus-visible {
    outline: none;
}

.chat-input__element:disabled {
    background: none;
}