    <main class="chat">
        <div class="left-side-container">
            <div>
            {{{ LeftSideHeader }}}
            {{#ChatList chats=chats}}

            {{/ChatList}}
            </div>
            <div>
            {{{ Button label="Посмотреть страницу 404" type="primary" onClick=handleError404}}}
            {{{ Button label="Посмотреть страницу 500" type="primary" onClick=handleError500}}}
            </div>
        </div>
        <div class="right-side-container">
        {{{ RightSide isActiveChat=isActiveChat activeChat=activeChat}}}
        </div>
    </main>
