<div class="profile">

    <div class="profile__left-side link-opacity" page="profile" >
        <img class="profile__back-arrow" page="profile" alt="back-arrow" src="/static/back-arrow.svg"/>
    </div>


    <div class="profile__right-side">
        <div class="profile__content">
            <div class="profile__avatar-section">

                <div class="profile__profile_overlay">
                    <h1 class="profile__avatar-title">Поменять
                        аватар</h1>
                </div>

                <div class="profile__avatar ">
                    <img class="profile__avatar_icon" alt="avatar" src=/static/avatar.svg />
                </div>

            </div>

            <form class="profile__form">
                {{{
                InputField
                        name="oldPassword"
                        label="Старый пароль"
                        type="password"
                        env="profile"
                        ref="oldPassword"
                        disabled=false
                        placeholder="Старый пароль"
                        validate=validate.oldPassword
                }}}

                {{{
                InputField
                        name="newPassword"
                        label="Новый пароль"
                        type="password"
                        env="profile"
                        placeholder="Новый пароль"
                        disabled=false
                        ref="newPassword"
                        validate=validate.newPassword
                }}}

                {{{
                InputField
                        name="repeatNewPassword"
                        label="Повторите новый пароль"
                        type="password"
                        env="profile"
                        placeholder="Повторите пароль"
                        disabled=false
                        ref="repeatNewPassword"
                        validate=validate.repeatNewPassword
                }}}
            </form>

            {{{
            Button
                    label="Сохранить"
                    type="primary"
                    onClick=handleSaveChangesClick
            }}}
        </div>
    </div>
</div>
