.messageList {
    padding: 12px 10px;
    overflow-y: auto;
    scrollbar-color: var(--background-color) var(--text-fill-color);
}

.messageList__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
