<div class="auth-input">
    <div class="auth-input__container">
      <label class="auth-input__label" for={{name}}>{{label}}</label>
      {{{ Input
        type=type
        ref="input"
        id=name
        onBlur=onBlur
        name=name
        env="auth"
      }}}
        {{{ErrorValid error=error ref="error"}}}
    </div>
</div>


