<div class="chat-input">
        {{{ErrorValid error=error ref="error"}}}
        {{{ Input
          type=type
          ref="input"
          onBlur=onBlur
          name=name
          placeholder=placeholder
          env="chat"
        }}}
</div>
