<div class="profile-input">
    <div class="profile-input__container">
      <label class="profile-input__label" for={{name}}>{{label}}</label>
      {{{ Input
        type=type
        ref="input"
        onBlur=onBlur
        name=name
        placeholder=placeholder
        disabled=disabled
        env="profile"
      }}}
        {{{ErrorValid error=error ref="error"}}}
    </div>
</div>
