   <div class="left-side-header" page="profile">
       <div class="left-side-header__profile">
           <p class="left-side-header__text link-opacity" page="profile">Профиль</p>
           <img src="/src/assets/arrow.svg" alt="arrow"/>
       </div>

       <input name="message" class="left-side-header__input" placeholder="Поиск"/>
   </div>
